{% extends "base.html" %}

{% block head_title %}{{ title }} | {{ block.super }} {% endblock head_title %}
{% block user_login_status %}{% endblock user_login_status %}



{% block content1 %}

<!----font-Awesome----->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>

<div class="grid_3">
  <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">About</li>
     </ul>
   </div>
   <div class="about">
   	  <div class="col-md-6 about_left">
   	  	<img src="/static/images/img2new.jpg" class="img-responsive" alt=""/>
   	  </div>
   	  <div class="col-md-6 about_right">
   	  	<h1>About us</h1>
   	  	<p>Humsafar.com is an idea to bring together million single hearts on one platform to find their desired partner for lifetime. It is solely passion that drives the team of TBS to work for the only metro-monial portal in the country. It is also very simple to go through the procedure of finding your life partner with SimplyMarry, you just have to give us your profile and simply describe your desired partner profile. And you rest in peace because rest all is our job.</p>
   	  	<div class="accordation">
		   <div class="jb-accordion-wrapper">
				<div class="jb-accordion-title">Objective 1<button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion-1-"><i class="fa fa-angle-down"> </i></button></div>
				<p>
				</p><div id="accordion-1-" class="jb-accordion-content collapse" style="height: auto;">
				<p>Understand the needs and concerns of singles all over the world through tireless research and analysis</p>
				</div>
				<p><!-- /.collapse --></p>
			</div>
			<div class="jb-accordion-wrapper">
				<div class="jb-accordion-title">Objective 2<button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion2-"><i class="fa fa-angle-down"> </i></button></div>
				<p><!-- /.accordion-title -->
				</p><div id="accordion2-" class="jb-accordion-content collapse ">
				<p>Provide a pleasant, satisfying, and superior matchmaking experience to our customers while zealously protecting their privacy and security </p>
				</div>
				<p><!-- /.collapse --></p>
			</div>
			<div class="jb-accordion-wrapper">
				<div class="jb-accordion-title">Objective 3<button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion3"><i class="fa fa-angle-down"> </i></button></div>
				<p><!-- /.accordion-title -->
				</p><div id="accordion3" class="jb-accordion-content collapse ">
				<p>Give our customers complete control through easy to use interfaces and features that can help them identify, filter and contact potential partners </p>
				</div>
				<p><!-- /.collapse --></p>
			</div>
		</div>
   	  </div>
   	  <div class="clearfix"> </div>
   </div>
  </div>
</div>
<!--<div class="about_middle">
	<div class="container">
	  <h2>Happy Clients</h2>
	  <div class="about_middle-grid1">
		<div class="col-sm-6 testi_grid list-item-0">
			<blockquote class="testi_grid_blockquote">
				<figure class="featured-thumbnail">
					<img src="/static/images/c1.jpg" class="img-responsive" alt=""/>
				</figure>
				<div ><a href="#">Achieving success was tough but finding a suitable bride was tougher. Humsafar.com helped me
find gauri, the best match i could have wished for. Thanks Humsafar.com</a>
				<div class="clearfix"></div>
				</div>
			</blockquote>
		    <small class="testi-meta"><span class="user">Shahrukh Khan,Famous Bollywood actor</span></small>
		</div>
		<div class="col-sm-6 testi_grid list-item-1">
			<blockquote class="testi_grid_blockquote">
				<figure class="featured-thumbnail">
					<img src="/static/images/c2.jpg" class="img-responsive" alt=""/>
				</figure>
				<div><a href="#">Finding a perfect groom was my wish and Humsafar my .com helped me fulfill my wish.look now who is my husband.all credit goes to Humsafar.com</a>
				<div class="clearfix"></div>
				</div> 
			</blockquote>
			<small class="testi-meta1"><span class="user" >Gauri Khan, Interior Designer</span></small>
		</div>
		<div class="clearfix"> </div>
	  </div>
	  <div class="about_middle-grid2">
		<div class="col-sm-6 testi_grid list-item-0">
			<blockquote class="testi_grid_blockquote">
				<figure class="featured-thumbnail">
					<img src="/static/images/c3.jpg" class="img-responsive" alt=""/>
				</figure>
				<div><a href="#">After hitting six sixes in an over my family was flooded with wedding proposals for me but 
none of them was suitable. Humsafar.com helped me find such a good wife.Love you.</a>
				<div class="clearfix"></div>
				</div>
			</blockquote>
		    <small class="testi-meta"><span class="user">Yuvraj Singh, Indian Cricket Batsman</span></small>
		</div>
		<div class="col-sm-6 testi_grid list-item-1">
			<blockquote class="testi_grid_blockquote">
				<figure class="featured-thumbnail">
					<img src="/static/images/c4.jpg" class="img-responsive" alt=""/>
				</figure>
				<div><a href="#">Though Bollywood movies are full of prince charming i could not found one there. It was only because of Humsafar.com that i met yuvi and now we are happily married.</a>
				<div class="clearfix"></div>
				</div>
			</blockquote>
			<small class="testi-meta1"><span class="user">&nbsp;&nbsp;Hazel keech,Bollywood actress</span></small>
		</div>
		<div class="clearfix"> </div>
	  </div>
	</div>
</div>-->


<div id="band" class="container text-center about_bottom">
  <h3>THE TEAM</h3>
  <p><em>We love doing Unnecessary Projects!</em></p>
  <p>The Humsafar.com is the hardwork of it's founding members. Both of them were concerned by the status of their fellow batchmates.So they 
decided to develop a matrimonial site which will help them in future.The Team behind Humsafar.com consists of two founding members, Vaibhav Singh, founder and CEO and Sandeep Kumar, Co-founder. Both like challenging real life problems and want to develop product for the masses.</p>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Vaibhav Singh</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="/static/images/team2.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Undergraduate at DTU</p>
        <p>CEO</p>
        <p>Founding Member since 2017</p>
      </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
      <p class="text-center"><strong>Sandeep Kumar</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="/static/images/team1.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Undergraduate at DTU</p>
        <p>Founding Member since 2017</p>
      </div>
    </div>
    <div class="col-sm-2">
  </div>
</div>
</div>



<!--<div class="about_bottom">
	<div class="container">
		<h3>Team</h3>
	   <div class="col-sm-6 about_grid1" padding="100px">
		  <ul class="posts-grid our-team">
			<li class="list-item-1">
				<figure class="thumbnail_1 thumbnail">
					<a href="#"><img src="/static/images/team1.jpg" width="300" height="300"  class="img-responsive" alt=""/></a>
					<div class="post_networks">
						<ul>
							<li class="network_0"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
			    </figure>
			    <div class="desc">
			    	<h4><a href="#">Perspiciatis</a></h4>
			    	<p>Lorem ipsum dolor sit amet,</p>
			    </div>
			 </li>
	       </ul>
	   </div>
	   <div class="col-sm-6 about_grid1">
		  <ul class="posts-grid our-team">
			<li class="list-item-1">
				<figure class="thumbnail_1 thumbnail">
					<a href="#"><img src="/static/images/team2.jpg" width="300" height="300" class="img-responsive" alt=""/></a>
					<div class="post_networks">
						<ul>
							<li class="network_0"><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
			    </figure>
			    <div class="desc">
			    	<h4><a href="#">Aspernatur </a></h4>
			    	<p>Lorem ipsum dolor sit amet,</p>
			    </div>
			 </li>
	       </ul>
	   
	   
	   <div class="clearfix"> </div>
	</div>
</div>-->


</body>
</html>	
{% endblock content1 %}
